:root {
    --highlight-color: #FF399F;
    --hover-color: #E01F83;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #444;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-screen {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-3vh);
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-icon {
    width: 50vw;
    max-width: 220px;
    height: auto;
    margin-bottom: 3vh;
}

.description {
    font-size: 5.5vw; /* 뷰포트 너비에 따라 글꼴 크기 증가 */
    max-font-size: 1.3em;
    color: #444;
    line-height: 1.6;
    margin-bottom: 6vh;
    font-weight: 400;
}

.highlight {
    color: var(--highlight-color);
}

.start-button {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: 25px;

    padding: 12px 40px;
    font-size: 1.1em;

    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
    width: 250px;
    max-width: 200px;
}

.start-button:hover {
    background-color: var(--hover-color);
}

@media (min-width: 600px) {
    .description {
        font-size: 1.3em;
    }
}}